body{
    background-color: grey;
}
h1{
    color: blue;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: green;
}
h3{
    color: red;
    text-align: left;
    font-size: .5em;
}
p{
    margin-left: 50px;
}